* {
  margin: 0px;
  padding: 0px; }

.container {
  font-family: 'Kanit';
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 20%;
  margin-top: -9em;
  /*set to a negative number 1/2 of your height*/
  margin-left: -15em;
  /*set to a negative number 1/2 of your width*/
  border: 1px solid #eeeeee;
  background-color: #dddddd;
  z-index: 3;
  border: 1px solid blue; }

.ttext {
  color: aquamarine;
  letter-spacing: 10px;
  font-size: 55; }

.curtain {
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .curtain__wrapper {
    width: 100%;
    height: 100%; }
    .curtain__wrapper input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 100;
      opacity: 0;
      top: 0;
      left: 0; }
      .curtain__wrapper input[type=checkbox]:checked ~ div.curtain__panel--left {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background-image: url("/images/processtop.jpg"); }
      .curtain__wrapper input[type=checkbox]:checked ~ div.curtain__panel--right {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background-image: url("/images/processbottom.jpg"); }
  .curtain__panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url("https://wiki.teamfortress.com/w/images/2/21/Cp_process_b2_2.jpg");
    color: #fff;
    float: left;
    position: relative;
    width: 100%;
    height: 50vh;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    z-index: 2; }
    .curtain__panel--left {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%); }
    .curtain__panel--right {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-transform: translateY(100%);
      transform: translateY(100%); }
  .curtain__content {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 100%; }
    .curtain__content img {
      width: 20%; }
