body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url(/images/process.jpeg); }

.topnav {
  overflow: hidden;
  background-color: #FB8122; }

.topnav a {
  float: left;
  color: #1D2228;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; }

.topnav a:hover {
  background-color: #C6C4C5;
  color: black; }

.mblock {
  background: rgba(255, 255, 255, 0.85);
  margin-top: 12%;
  height: 33%;
  width: 100%; }
