*{
  margin: 0px;
  padding: 0px;
}

.container{

  font-family: 'Kanit';
  position:fixed;
  top: 50%;
  left: 50%;
  width:40%;
  height:20%;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  border: 1px solid rgb(238, 238, 238);
  background-color: rgb(221, 221, 221);
  z-index: 3;
  border: 1px solid blue;


}

.ttext{
  color: aquamarine;
  letter-spacing: 10px;
  font-size: 55;
}

.curtain {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
  &__wrapper {
    width: 100%;
    height: 100%;
    
    input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 100;
      opacity: 0;
      top: 0;
      left: 0;
      
      // When the checkbox is checked...
      &:checked {
        
        // Slide the first panel
        &~div.curtain__panel--left {
          transform: translateY(0);
          background-image: url('/images/processtop.jpg');

        }
        
        // Slide the second panel
        &~div.curtain__panel--right {
          transform: translateY(0);
          background-image: url('/images/processbottom.jpg');

        }
      }
    }
  }
  
  &__panel {
    display: flex;
    align-items: center;
    background-image: url('https://wiki.teamfortress.com/w/images/2/21/Cp_process_b2_2.jpg');
    color: #fff;
    float: left;
    position: relative;
    width: 100%;
    height: 50vh;
    transition: all 1s ease-out;
    z-index: 2;
    &--left {
      justify-content: flex-end;
      transform: translateY(-100%);
    }
    &--right {
      justify-content: flex-start;
      transform: translateY(100%);
    }
  }
  
  &__content {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 100%;
    
    img {
      width: 20%;
    }
  }

}